Repository compucorp/civihr, pull requests merged in 2018-03, with the labels that each got.

#2492 PCHR-3047: Contract update entitlements redirection control
  hrjobcontract/js/dist/job-contract.min.js
  hrjobcontract/js/src/job-contract/controllers/contract.controller.js
  hrjobcontract/js/src/job-contract/controllers/modal/modal-contract.controller.js
  hrjobcontract/js/src/job-contract/modules/job-contract.module.js
  hrjobcontract/js/test/controllers/contract.controller.spec.js
  hrjobcontract/js/test/controllers/modal/modal-contract.controller.spec.js
Labels: enhancement, ready to test

#2514 PCHR-3034: Fix Issue When Overriding Entitlement With Zero Value
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeavePeriodEntitlement.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeavePeriodEntitlementTest.php
Labels: ready to test

#2512 PCHR-3315: Improve UX for horizontally scrolled blocks
  hrjobcontract/js/dist/job-contract.min.js
  org.civicrm.bootstrapcivihr/css/civihr.css
  org.civicrm.bootstrapcivihr/scss/civihr.scss
  org.civicrm.bootstrapcivihr/scss/components/_scroll-shadows.scss
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/karma.conf.js
  org.civicrm.reqangular/src/common/bundles/directives.js
  org.civicrm.reqangular/src/common/directives/scroll-shadows.directive.js
  org.civicrm.reqangular/test/directives/scroll-shadows.directive.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/absence-tab/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/admin-dashboard/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/manager-leave/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/my-leave/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/staff-leave-report.html
Labels: enhancement, ready to test

#2515 PCHR-3277: Add L&A data to the Sample Data extension
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Importer/AbsencePeriod.php
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Importer/AbsenceType.php
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Importer/JobContract.php
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Importer/LeavePeriodEntitlement.php
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Importer/LeaveRequest.php
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Importer/PublicHoliday.php
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Upgrader.php
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_hrjobcontract.csv
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_hrleaveandabsences_absence_period.csv
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_hrleaveandabsences_absence_type.csv
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_hrleaveandabsences_leave_period_entitlement.csv
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_hrleaveandabsences_leave_request.csv
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_hrleaveandabsences_public_holiday.csv
  uk.co.compucorp.civicrm.hrsampledata/sql/uninstall.sql
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/BaseCSVProcessorTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/AbsencePeriodTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/AbsenceTypeTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/HRHoursLocationTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/HRPayScaleTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/JobContractTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/JobRolesTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/LeavePeriodEntitlementTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/LocationTypeTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/OptionValueTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/PublicHolidayTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/RelationshipsTest.php
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/VacancyTest.php
Labels: enhancement, ready to test

#2505 PCHR-3357: Check balance change when changing status via leave request dropdown (LiH)
  contactsummary/js/dist/contact-summary.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-notification-badge.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-request-popup-details-tab.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/instances/leave-request.instance.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/mocks/data/leave-request.data.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-request-popup-details-tab.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/instances/leave-request.instance.spec.js
Labels: enhancement, ready to test

#2517 PCHR-2985: Fix balance recalculation on deduction change for staff
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-request-popup-details-tab.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-request-popup-details-tab.component.spec.js
Labels: bug, ready to test

#2519 PCHR-3392: Moved HRIdent Upgrade to HRCore
  hrident/CRM/HRIdent/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1011.php
Labels: ready to test

#2516 PCHR-3243: Fix backstopjs task's return code
  uk.co.compucorp.civicrm.hrcore/backstop_data/page-objects/contact-summary.js
  uk.co.compucorp.civicrm.hrcore/backstop_data/scenarios/contact-access-rights.json
  uk.co.compucorp.civicrm.hrcore/gulp/tasks/backstopjs.js
  uk.co.compucorp.civicrm.hrcore/package-lock.json
  uk.co.compucorp.civicrm.hrcore/package.json
Labels: bug, enhancement, ready to test, regression

#2522 PCHR-3433: Rename Inline Custom Field Data
  hrui/CRM/HRUI/Upgrader.php
  hrui/CRM/HRUI/Upgrader/Steps/4710.php
Labels: ready to test

#2518 PCHR-3423: Do not allow deleted Public holiday Leave Request for Contact to be re-created
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Service/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Service/PublicHolidayLeaveRequestCreation.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Service/PublicHolidayLeaveRequestDeletion.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Test/Fabricator/PublicHolidayLeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Service/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Service/PublicHolidayLeaveRequestCreationTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Service/PublicHolidayLeaveRequestDeletionTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/bootstrap.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/helpers/LeaveBalanceChangeHelpersTrait.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/helpers/PublicHolidayHelpersTrait.php
Labels: ready to test

#2524 PCHR-3420: Hide Options on Localisation Page
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Hook/BuildForm/LocalisationPageFilter.php
  uk.co.compucorp.civicrm.hrcore/hrcore.php
Labels: ready to test

#2527 PCHR-3375: Add custom fields shortcut
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1012.php
Labels: ready to test

#2526 PCHR-3382: Modify Jobcontract.getContactsWithContractsInPeriod API And Reserve Work Location Type
  hrjobcontract/CRM/Hrjobcontract/BAO/HRJobContract.php
  hrjobcontract/api/v3/HRJobContract.php
  hrjobcontract/tests/phpunit/CRM/Hrjobcontract/BAO/HRJobContractTest.php
  hrjobcontract/tests/phpunit/api/v3/HRJobContractTest.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1011.php
Labels: ready to test

#2528 PCHR-3248: Add Tasks and Documents to the Sample Data
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Importer/Activity.php
  uk.co.compucorp.civicrm.hrsampledata/CRM/HRSampleData/Upgrader.php
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_activity.csv
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_contact.csv
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_hrleaveandabsences_leave_period_entitlement.csv
  uk.co.compucorp.civicrm.hrsampledata/resources/csv/civicrm_hrleaveandabsences_leave_request.csv
  uk.co.compucorp.civicrm.hrsampledata/tests/phpunit/CRM/HRSampleData/Importer/ActivityTest.php
Labels: enhancement, ready to test

#2521 PCHR-3180: Do not recalculate balance on cancelling or rejecting from Leave Request Modal
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-request-popup-details-tab.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/request.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/services/leave-request.service.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-request-popup-details-tab.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/request.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/services/leave-request.service.spec.js
Labels: bug, ready to test

#2529 PCHR-3376: Update Permissions
  com.civicrm.hrjobroles/CRM/Hrjobroles/Upgrader.php
  hrjobcontract/CRM/Hrjobcontract/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1012.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1013.php
Labels: ready to test

#2533 PCHR-3162: Update label
  hrjobcontract/CRM/Hrjobcontract/Upgrader.php
Labels: new feature

#2534 PCHR-3438: Allow set times and custom duration in TOIL request
  uk.co.compucorp.civicrm.hrleaveandabsences/api/v3/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-request-popup-details-tab.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-leave.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-toil.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/instances/toil-request.instance.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/mocks/data/option-group.data.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/mocks/helpers/request-modal-helper.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-request-popup-details-tab.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-leave.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-toil.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/instances/toil-request.instance.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/by-unit-and-days-mode/hours-unit-multiple-days.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/by-unit-and-days-mode/hours-unit-single-day.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/common.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/toil.html
Labels: new feature, ready to test

#2509 PCHR-3372: Take Contact Work Pattern into Consideration when validating Max consecutive leave days
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
Labels: ready to test

#2540 PCHR-2769: Remove the Zero Days TOIL amount option value.
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1020.php
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/option_groups/toil_amounts_install.xml
Labels: ready to test

#2542 PCHR-3451: New Option Group Work Pattern Change
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/mocks/data/option-group.data.js
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/option_groups/work_pattern_change_reason_install.xml
Labels: ready to test

#2543 PCHR-3489: Fix entitlements override filter
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Form/ManageEntitlements.tpl
Labels: bug, ready to test

#2544 PCHR-3440: Fix JobContract Pay Tab fields after importing a Contract for a Contact
  hrjobcontract/js/dist/job-contract.min.js
  hrjobcontract/js/src/job-contract/controllers/form/form-pay.controller.js
Labels: bug, ready to test

#2545 PCHR-3487: Escape user entered data
  uk.co.compucorp.civicrm.hrcore/templates/CRM/HRCore/UserMenuMarkup.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Form/ManageEntitlements.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Page/AbsencePeriod.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Page/AbsenceType.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Page/PublicHoliday.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Page/WorkPattern.tpl
Labels: ready to test

#2548 PCHR-2275: L&A Alerts Epic
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1020.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/option_groups/toil_amounts_install.xml
Labels: ready to test

#2550 PCHR-3451: Default Existing Work Pattern to As per contract
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1022.php
Labels: ready to test

#2553 PCHR-3353: Quickfix for "is_multiple" Bug
  org.civicrm.hremergency/CRM/Hremergency/Upgrader/Steps/1004.php
Labels: ready to test

#2552 PCHR-3494: Allow to edit TOIL in days options from Leave Request Modal
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/bundles/services.js
  org.civicrm.reqangular/src/common/models/option-group.js
  org.civicrm.reqangular/src/common/services/api.js
  org.civicrm.reqangular/src/common/services/api/option-group.js
  org.civicrm.reqangular/src/common/services/crm-ang.service.js
  org.civicrm.reqangular/test/models/option-group.spec.js
  org.civicrm.reqangular/test/services/api.spec.js
  org.civicrm.reqangular/test/services/api/contact.spec.js
  org.civicrm.reqangular/test/services/api/job-role.spec.js
  org.civicrm.reqangular/test/services/api/option-group.spec.js
  org.civicrm.reqangular/test/services/crm-ang.service.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-toil.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-toil.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/models/absence-type.model.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/toil.html
Labels: enhancement, ready to test

#2556 PCHR-3392: Quickfix for 'is_multiple' bug
  hrjobcontract/CRM/Hrjobcontract/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1014.php
Labels: ready to test
