Repository compucorp/civihr, pull requests merged in 2018-09, with the labels that each got.

#2853 PCHR-4166: Set Jenkins failure threshold to 0
  Jenkinsfile
Labels: bug, ready to test

#2833 PCHR-4022: Leave Request Templates Should be Moved Under System Workflow Message
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1033.php
  uk.co.compucorp.civicrm.hrleaveandabsences/managed_entities/EmailTemplate.mgd.php
  uk.co.compucorp.civicrm.hrleaveandabsences/message_templates/EmailTemplate.php
Labels: ready to test

#2855 PCHR-4068: Improve Job Contract and Job Roles Filter Fields
  com.civicrm.hrjobroles/CRM/Hrjobroles/BAO/Query.php
  hrjobcontract/CRM/Hrjobcontract/BAO/Query.php
Labels: ready to test

#2856 PCHR-4097: Support but discourage old non-divisible by 15-minutes times
  contactsummary/js/dist/contact-summary.min.js
  hrjobcontract/js/dist/job-contract.min.js
  org.civicrm.reqangular/js/dist/reqangular.min.js
  org.civicrm.reqangular/js/src/common/directives/timepicker-select.directive.js
  org.civicrm.reqangular/js/src/common/modules/templates.js
  org.civicrm.reqangular/js/src/common/templates/timepicker-select.html
  org.civicrm.reqangular/js/test/directives/timepicker-select.directive.spec.js
  uk.co.compucorp.civicrm.hremails/email-templates/package-lock.json
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/calendar-feeds-list.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/crm-app-form-workpattern.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/manager-notification-badge.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/src/leave-absences/crm/app.form.workpattern.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/src/leave-absences/shared/components/leave-request-popup-details-tab.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-leave.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/src/leave-absences/shared/modules/shared-settings.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/test/shared/controllers/sub-controllers/request-modal-details-leave.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/test/shared/modules/shared-settings.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Form/WorkPattern/Calendar.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/by-unit-and-days-mode/hours-unit-multiple-days.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/by-unit-and-days-mode/hours-unit-single-day.html
Labels: bug, enhancement, ready to test

#2825 PCHR-3681: Remove unnecessary param in calls to CRM_Utils_Request::retrieve()
  contactsummary/contactsummary.php
  hrcareer/hrcareer.php
  hrident/hrident.php
  hrmed/hrmed.php
  hrqual/hrqual.php
  hrstaffdir/hrstaffdir.php
  hrui/hrui.php
  hrvisa/hrvisa.php
Labels: enhancement, ready to test

#2826 PCHR-4032: Do not show inactive staff in the calendar months
  hrjobcontract/hrjobcontract.php
  org.civicrm.reqangular/js/dist/reqangular.min.js
  org.civicrm.reqangular/js/dist/reqangular.mocks.min.js
  org.civicrm.reqangular/js/src/common/models/contact.js
  org.civicrm.reqangular/js/src/common/services/api/contract.js
  org.civicrm.reqangular/js/test/mocks/data/contract.data.js
  org.civicrm.reqangular/js/test/mocks/services/api/contact-mock.js
  org.civicrm.reqangular/js/test/mocks/services/api/contract-mock.js
  org.civicrm.reqangular/js/test/models/contact.spec.js
  org.civicrm.reqangular/js/test/services/api/contract.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/src/leave-absences/shared/components/leave-calendar-month.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/src/leave-absences/shared/components/leave-calendar.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/src/leave-absences/shared/controllers/sub-controllers/leave-calendar-admin.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/src/leave-absences/shared/services/leave-calendar.service.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/test/mocks/services/leave-calendar.service.mock.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/test/shared/components/leave-calendar-month.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/test/shared/components/leave-calendar.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/test/shared/services/leave-calendar.service.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-calendar.html
Labels: enhancement, ready to test

#2866 PCHR-4221: Add Parser to translate menu configuration file to Civi format.
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/CiviAdapter.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/Config.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/Item.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/MenuBuilder.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/CiviAdapterTest.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/ItemTest.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/MenuBuilderTest.php
Labels: ready to test

#2849 PCHR-4142: Fix UI select error
  org.civicrm.reqangular/js/dist/reqangular.min.js
  org.civicrm.reqangular/js/src/common/modules/templates.js
  org.civicrm.reqangular/js/src/common/templates/civihr-ui-select/match-multiple.tpl.html
Labels: bug, ready to test

#2868 PCHR-4245: Fix menu Item Link Target
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/CiviAdapter.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/Item.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/MenuBuilder.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/CiviAdapterTest.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/ItemTest.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/MenuBuilderTest.php
Labels: ready to test

#2869 PCHR-4182: Menu Management Improvements
  com.civicrm.hrjobroles/CRM/Hrjobroles/Upgrader.php
  com.civicrm.hrjobroles/hrjobroles.php
  hrjobcontract/CRM/Hrjobcontract/Upgrader.php
  hrjobcontract/hrjobcontract.php
  hrrecruitment/hrrecruitment.php
  hrui/CRM/HRUI/Upgrader.php
  hrui/CRM/HRUI/Upgrader/Steps/4700.php
  hrui/CRM/HRUI/Upgrader/Steps/4706.php
  hrui/hrui.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/CiviAdapter.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/Config.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/Config/CustomFields.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/Config/StyleGuide.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/Item.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/MainMenuConfig.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Menu/MenuBuilder.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1007.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1012.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1013.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1020.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1032.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1033.php
  uk.co.compucorp.civicrm.hrcore/config/menu/configure.php
  uk.co.compucorp.civicrm.hrcore/config/menu/customize_data.php
  uk.co.compucorp.civicrm.hrcore/config/menu/developer.php
  uk.co.compucorp.civicrm.hrcore/config/menu/main.php
  uk.co.compucorp.civicrm.hrcore/config/menu/system_settings.php
  uk.co.compucorp.civicrm.hrcore/hrcore.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/CiviAdapterTest.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/ItemTest.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Menu/MenuBuilderTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1001.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1005.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1006.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1007.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1008.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1016.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1026.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1032.php
  uk.co.compucorp.civicrm.hrleaveandabsences/hrleaveandabsences.php
Labels: ready to test
