Repository compucorp/civihr, pull requests merged in 2018-04, with the labels that each got.

#2536 PCHR-3426: Split request record button into two buttons
  contactsummary/css/contactsummary.css
  package-lock.json
  package.json
  uk.co.compucorp.civicrm.hrcore/backstop_data/page-objects/ssp-leave-absences-manager-leave-requests.js
  uk.co.compucorp.civicrm.hrcore/backstop_data/page-objects/ssp-leave-absences-my-leave-report.js
  uk.co.compucorp.civicrm.hrleaveandabsences/css/leaveandabsence.css
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-request-record-actions.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-request-record-actions.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/_absence-work-patterns.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/_annual-entitlement-change-log.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/_leave-request-record-actions.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/_leave.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/pages/_absence-tab-page.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/pages/_admin-dashboard-page.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Form/ManageEntitlements.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/views/absence-tab/components/absence-tab-container.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/absence-tab/components/absence-tab-work-patterns.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/admin-dashboard/components/admin-dashboard-container.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/manager-leave/components/manager-leave-container.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/my-leave/components/my-leave-container.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/common.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-record-actions.html
Labels: enhancement, ready to test

#2559 PCHR-3509: Use Role Machine Names Instead of Role Names
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/CMSData/Role/DrupalRoleService.php
Labels: ready to test

#2557 PCHR-3506: Move Leave Request Template to System Workflow Message
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1024.php
Labels: ready to test

#2560 PCHR-3510: Fix Limit On Leave Request getcount
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/API/Wrapper/LeaveRequestDates.php
  uk.co.compucorp.civicrm.hrleaveandabsences/api/v3/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/API/Wrapper/LeaveRequestDatesTest.php
Labels: ready to test

#2562 PCHR-3444: Lock Option Group
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1015.php
Labels: ready to test

#2561 PCHR-2576: Fix Issue with Admin Not Being able to Cancel TOIL with Past Dates
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Service/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Service/LeaveRequestRights.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Service/LeaveRequestRightsTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Service/LeaveRequestTest.php
Labels: ready to test

#2566 PCHR-3464: Hide link to edit locked option groups in forms
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Hook/BuildForm/OptionEditPathFilter.php
  uk.co.compucorp.civicrm.hrcore/hrcore.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Hook/BuildForm/OptionEditPathFilterTest.php
Labels: ready to test

#2564 PCHR-3525: Fix TOIL bugs
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/directives/time-amount-picker.directive.js
  org.civicrm.reqangular/test/directives/time-amount-picker.directive.spec.js
  package.json
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-toil.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-toil.controller.spec.js
Labels: bug, enhancement, ready to test

#2567 PCHR-3526: Fix Warnings In Tests
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1008.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1019.php
Labels: ready to test

#2568 PCHR-3162: Resolve Merge Conflict
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Service/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Service/LeaveRequestRights.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1020.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1021.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1022.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1023.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1024.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1025.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Service/LeaveRequestRightsTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Service/LeaveRequestTest.php
Labels: ready to test

#2569 PCHR-3525: Update TOIL duration on absence type unit change
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-toil.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-toil.controller.spec.js
Labels: bug

#2555 PCHR-3427: New TOIL deduction and times
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/bundles/services.js
  org.civicrm.reqangular/src/common/directives/time-amount-picker.directive.js
  org.civicrm.reqangular/src/common/models/option-group.js
  org.civicrm.reqangular/src/common/services/api.js
  org.civicrm.reqangular/src/common/services/api/option-group.js
  org.civicrm.reqangular/src/common/services/crm-ang.service.js
  org.civicrm.reqangular/test/directives/time-amount-picker.directive.spec.js
  org.civicrm.reqangular/test/models/option-group.spec.js
  org.civicrm.reqangular/test/services/api.spec.js
  org.civicrm.reqangular/test/services/api/contact.spec.js
  org.civicrm.reqangular/test/services/api/job-role.spec.js
  org.civicrm.reqangular/test/services/api/option-group.spec.js
  org.civicrm.reqangular/test/services/crm-ang.service.spec.js
  package.json
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1021.php
  uk.co.compucorp.civicrm.hrleaveandabsences/api/v3/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/absence-tab/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/admin-dashboard/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/manager-leave/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/my-leave/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-request-popup-details-tab.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-leave.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-toil.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/instances/toil-request.instance.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/mocks/data/option-group.data.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/mocks/helpers/request-modal-helper.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-request-popup-details-tab.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-leave.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-toil.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/instances/toil-request.instance.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/models/absence-type.model.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/by-unit-and-days-mode/hours-unit-multiple-days.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/by-unit-and-days-mode/hours-unit-single-day.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/common.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/toil.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/manage-leave-requests.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/partials/leave-request-dates.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/partials/staff-leave-report-requests-rows.html
Labels: new feature, ready to test

#2572 FAR-246: Create the LeaveBalanceChangeExpiryLog Entity
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeExpiryLog.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/DAO/LeaveBalanceChangeExpiryLog.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Exception/InvalidLeaveBalanceChangeExpiryLogException.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1022.php
  uk.co.compucorp.civicrm.hrleaveandabsences/api/v3/LeaveBalanceChangeExpiryLog.php
  uk.co.compucorp.civicrm.hrleaveandabsences/hrleaveandabsences.php
  uk.co.compucorp.civicrm.hrleaveandabsences/sql/auto_install.sql
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeExpiryLogTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/schema/CRM/HRLeaveAndAbsences/LeaveBalanceChangeExpiryLog.entityType.php
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/schema/CRM/HRLeaveAndAbsences/LeaveBalanceChangeExpiryLog.xml
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/schema/CRM/HRLeaveAndAbsences/files.xml
Labels: ready to test

#2573 FAR-247: Implement logging for Expired Balance Changes
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChange.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1023.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeTest.php
Labels: ready to test

#2576 FAR-252: Fix error with Scheduled Job trying to expire balances linked to deleted TOIL requests
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChange.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeTest.php
Labels: ready to test

#2546 PCHR-3460: Add Tool Icon to Edit Job Role Options
  com.civicrm.hrjobroles/js/dist/job-roles.min.js
  com.civicrm.hrjobroles/js/src/job-roles/controllers/job-roles.controller.js
  com.civicrm.hrjobroles/js/src/job-roles/modules/job-roles.core.js
  com.civicrm.hrjobroles/js/test/controllers/job-roles.controller.spec.js
  com.civicrm.hrjobroles/js/test/mocks/data/job-role.data.js
  com.civicrm.hrjobroles/views/include/add_new_role.html
  com.civicrm.hrjobroles/views/include/job_role_panel.html
Labels: ready to test

#2577 PCHR-3162: Configurability Changes
  com.civicrm.hrjobroles/CRM/Hrjobroles/Upgrader.php
  com.civicrm.hrjobroles/js/dist/job-roles.min.js
  com.civicrm.hrjobroles/js/src/job-roles/controllers/job-roles.controller.js
  com.civicrm.hrjobroles/js/src/job-roles/modules/job-roles.core.js
  com.civicrm.hrjobroles/js/test/controllers/job-roles.controller.spec.js
  com.civicrm.hrjobroles/js/test/mocks/data/job-role.data.js
  com.civicrm.hrjobroles/views/include/add_new_role.html
  com.civicrm.hrjobroles/views/include/job_role_panel.html
  contactsummary/scss/contactsummary.scss
  hrdemog/CRM/HRDemog/Upgrader.php
  hrident/CRM/HRIdent/Upgrader.php
  hrjobcontract/CRM/Hrjobcontract/Upgrader.php
  hrrecruitment/CRM/HRRecruitment/Upgrader.php
  hrui/CRM/HRUI/Upgrader.php
  hrui/CRM/HRUI/Upgrader/Steps/4709.php
  hrui/CRM/HRUI/Upgrader/Steps/4710.php
  org.civicrm.hremergency/CRM/Hremergency/Upgrader.php
  org.civicrm.hremergency/CRM/Hremergency/Upgrader/Steps/1004.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Helper/NavigationMenuHelper.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Hook/BuildForm/LocalisationPageFilter.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Hook/BuildForm/OptionEditPathFilter.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1012.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1013.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1014.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1015.php
  uk.co.compucorp.civicrm.hrcore/hrcore.civix.php
  uk.co.compucorp.civicrm.hrcore/hrcore.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Files/sample_navigation_menu.json
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Helper/NavigationMenuHelperTest.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Hook/BuildForm/OptionEditPathFilterTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/DAO/ContactWorkPattern.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1022.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1023.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1024.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1025.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1026.php
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/absence-tab/components/absence-tab-custom-work-pattern-modal.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/absence-tab/components/absence-tab-work-patterns.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/absence-tab/components/absence-tab-custom-work-pattern-modal.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/absence-tab/components/absence-tab-work-patterns.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/mocks/data/option-group.data.js
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/option_groups/work_pattern_change_reason_install.xml
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/schema/CRM/HRLeaveAndAbsences/ContactWorkPattern.xml
Labels: ready to test

#2579 PCHR-3592: Add slack notifications to Jenkins
  Jenkinsfile
Labels: ready to test

#2581 PCHR-3497: Suppress Leave Request Notification Emails for Person Creating/Editing the Request
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Mail/Message.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Mail/MessageTest.php
Labels: ready to test

#2582 PCHR-3582: Fix UX for public holiday days in leave request modal
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-leave.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-request-popup-details-tab.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-leave.controller.spec.js
Labels: ready to test

#2584 PCHR-3570: Footer Updates
  hrjobcontract/CRM/Hrjobcontract/Page/View/Summary.tpl
  hrui/templates/CRM/Contact/Page/View/Summary.tpl
  hrui/templates/CRM/common/footer.tpl
  uk.co.compucorp.civicrm.hrcore/hrcore.php
Labels: ready to test

#2586 FAR-232: Incorrect Toil Calculation
  com.civicrm.hrjobroles/js/test/controllers/job-roles.controller.spec.js
  contactsummary/scss/contactsummary.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChange.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeExpiryLog.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/DAO/LeaveBalanceChangeExpiryLog.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Exception/InvalidLeaveBalanceChangeExpiryLogException.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1027.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1028.php
  uk.co.compucorp.civicrm.hrleaveandabsences/api/v3/LeaveBalanceChangeExpiryLog.php
  uk.co.compucorp.civicrm.hrleaveandabsences/hrleaveandabsences.php
  uk.co.compucorp.civicrm.hrleaveandabsences/sql/auto_install.sql
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeExpiryLogTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/schema/CRM/HRLeaveAndAbsences/LeaveBalanceChangeExpiryLog.entityType.php
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/schema/CRM/HRLeaveAndAbsences/LeaveBalanceChangeExpiryLog.xml
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/schema/CRM/HRLeaveAndAbsences/files.xml
Labels: bug, ready to test

#2585 PCHR-3621: Fix issue with Manager Not Being Able to Approve Leave Request on Period End Date
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/request.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/request.controller.spec.js
Labels: ready to test

#2588 PCHR-3162: Configurability Changes - Tool Icon Integration
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/absence-tab/components/absence-tab-custom-work-pattern-modal.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-sickness.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/absence-tab/components/absence-tab-custom-work-pattern-modal.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-sickness.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Form/WorkPattern/Calendar.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/views/absence-tab/components/absence-tab-custom-work-pattern-modal.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-request-popup/details-tab/sickness.html
Labels: ready to test

#2589 PCHR-3635: Fix hoek GitHub security vulnerability warning
  uk.co.compucorp.civicrm.hrcore/package-lock.json
  uk.co.compucorp.civicrm.hrcore/package.json
  uk.co.compucorp.civicrm.hremails/package-lock.json
Labels: ready to test

#2590 PCHR-3581: Improve tooltips for multiple requests for same day in calendar + fix various bugs
  org.civicrm.bootstrapcivihr/css/civihr.css
  org.civicrm.bootstrapcivihr/scss/components/outside-namespace/_modal-scroll-locker.scss
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/decorators/ui-bootstrap/uib-modal.decorator.js
  org.civicrm.reqangular/test/decorators/ui-bootstrap/uib-modal.decorator.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/css/leaveandabsence.css
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-calendar-day.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-calendar-month.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-leave.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-calendar-day.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-calendar-month.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-leave.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/outside-namespace/_leave-calendar.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/leaveandabsence.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-calendar-day.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-calendar-legend.html
Labels: bug, enhancement, ready to test, regression

#2596 PCHR-3638: Bump ext version
  com.civicrm.hrjobroles/info.xml
  contactaccessrights/info.xml
  contactsummary/info.xml
  hrbank/info.xml
  hrcareer/info.xml
  hrcase/info.xml
  hrdemog/info.xml
  hrim/info.xml
  hrjobcontract/info.xml
  hrmed/info.xml
  hrprofile/info.xml
  hrqual/info.xml
  hrrecruitment/info.xml
  hrreport/info.xml
  hrstaffdir/info.xml
  hrui/info.xml
  org.civicrm.bootstrapcivihr/info.xml
  org.civicrm.hremergency/info.xml
  org.civicrm.reqangular/info.xml
  uk.co.compucorp.civicrm.hrcomments/info.xml
  uk.co.compucorp.civicrm.hrcontactactionsmenu/info.xml
  uk.co.compucorp.civicrm.hrcore/info.xml
  uk.co.compucorp.civicrm.hremails/info.xml
  uk.co.compucorp.civicrm.hrleaveandabsences/info.xml
  uk.co.compucorp.civicrm.hrsampledata/info.xml
Labels: ready to test

#2598 PCHR-3580: Fix bugs for multimple request per day
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
Labels: bug, ready to test

#2593 PCHR-3527: Allow multiple requests on same day
  org.civicrm.bootstrapcivihr/css/civihr.css
  org.civicrm.bootstrapcivihr/scss/components/outside-namespace/_modal-scroll-locker.scss
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/decorators/ui-bootstrap/uib-modal.decorator.js
  org.civicrm.reqangular/test/decorators/ui-bootstrap/uib-modal.decorator.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Test/Fabricator/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/css/leaveandabsence.css
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-calendar-day.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-calendar-month.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/controllers/sub-controllers/request-modal-details-leave.controller.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-calendar-day.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-calendar-month.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-leave.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/_leave-calendar.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/outside-namespace/_leave-calendar.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/leaveandabsence.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/mixins/_gradients.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeavePeriodEntitlementTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-calendar-day.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-calendar-legend.html
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-calendar-month.html
Labels: new feature, ready to test
