Repository compucorp/civihr, pull requests merged in 2018-05, with the labels that each got.

#2595 PCHR-3634: Allow staff to cancel an approved/rejected leave request
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-request-actions.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/staff-leave-report.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-request-actions.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/staff-leave-report.component.spec.js
Labels: ready to test

#2599 PCHR-3644: Fix Leave Calendar regression bugs
  uk.co.compucorp.civicrm.hrleaveandabsences/css/leaveandabsence.css
  uk.co.compucorp.civicrm.hrleaveandabsences/scss/components/_leave-calendar.scss
  uk.co.compucorp.civicrm.hrleaveandabsences/views/shared/components/leave-calendar-month.html
Labels: bug, ready to test, regression

#2600 FAR-248: Show balance changes and individual request values in "Expired" section
  contactsummary/js/dist/contact-summary.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/API/Query/LeaveRequestSelect.php
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-notification-badge.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/apis/leave-request.api.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/staff-leave-report.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/models/leave-request.model.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/apis/leave-request.api.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/staff-leave-report.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/models/leave-request.model.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
Labels: ready to test

#2601 PCHR-3642: Fix leave calendar request for first and last days of a month
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/models/model.js
  org.civicrm.reqangular/test/models/model.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/absence-tab.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/admin-dashboard.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/my-leave.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-calendar-month.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-calendar-month.component.spec.js
Labels: bug, ready to test

#2603 PCHR-3652: Fix failing PHP test
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveRequestTest.php
Labels: bug, ready to test

#2539 PCHR-3093: Cleanup Shoreditch Partials
  hrjobcontract/css/hrjc.css
  hrjobcontract/scss/civihr/partials/_datepicker.scss
  hrjobcontract/scss/civihr/partials/_forms.scss
  hrjobcontract/scss/hrjc.scss
Labels: enhancement, ready to test

#2605 PCHR-3660: Make it impossible to set a disabled Work pattern as default.
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/WorkPattern.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/WorkPatternTest.php
Labels: ready to test

#2604 PCHR-3654: Make it Impossible to Uncheck Work pattern As Default
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/WorkPattern.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/WorkPatternTest.php
Labels: ready to test

#2607 PCHR-3671: Revert Changes to Footer
  hrjobcontract/CRM/Hrjobcontract/Page/View/Summary.tpl
  hrui/templates/CRM/Contact/Page/View/Summary.tpl
  hrui/templates/CRM/common/footer.tpl
  uk.co.compucorp.civicrm.hrcore/hrcore.php
Labels: ready to test

#2614 PCHR-3516: Allow Contact to get Leave Requests For Other Contacts via API
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
Labels: ready to test

#2615 PCHR-3650: New Fields for Pingback
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Service/Stats/StatsGatherer.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Test/BaseHeadlessTest.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Service/Stats/StatsGathererTest.php
Labels: ready to test

#2616 PCHR-3669: Use Drupal User Count Instead Of UFMatch
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/CMSData/SiteInformation/DrupalSiteInformation.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/CMSData/SiteInformation/SiteInformationInterface.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Service/Stats/StatsGatherer.php
  uk.co.compucorp.civicrm.hrcore/tests/phpunit/CRM/HRCore/Service/Stats/StatsGathererTest.php
Labels: ready to test

#2621 PCHR-3460: UI Improvement for Option Groups
  com.civicrm.hrjobroles/views/include/add_new_role.html
  com.civicrm.hrjobroles/views/include/job_role_panel.html
Labels: ready to test

#2618 PCHR-3701: Selectively Modify Leave Request API Field return Value based on User Role and Leave ACL Permissions
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/ACL/LeaveInformationTrait.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/API/Handler/GenericLeaveFieldPermissions.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/API/Handler/GetBreakDownFieldPermissions.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/API/Handler/LeaveFieldPermissions.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/API/Wrapper/LeaveRequestFieldsVisibility.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Service/LeaveRequestRights.php
  uk.co.compucorp.civicrm.hrleaveandabsences/hrleaveandabsences.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/API/Handler/GenericLeaveFieldPermissionsTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/API/Handler/GetBreakDownFieldPermissionsTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/BAO/LeaveBalanceChangeTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/Service/LeaveRequestRightsTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
Labels: ready to test

#2620 PCHR-3459: Add Tool Icon to Edit Job Contract Options
  hrjobcontract/css/hrjc.css
  hrjobcontract/js/dist/job-contract.min.js
  hrjobcontract/js/src/job-contract/controllers/modal/modal-change-reason.controller.js
  hrjobcontract/js/src/job-contract/controllers/modal/modal-contract-new.controller.js
  hrjobcontract/js/src/job-contract/controllers/modal/modal-contract.controller.js
  hrjobcontract/js/src/job-contract/modules/job-contract.core.js
  hrjobcontract/js/src/job-contract/services/contract-details.service.js
  hrjobcontract/js/src/job-contract/services/contract-pay.service.js
  hrjobcontract/js/src/job-contract/services/contract-service.service.js
  hrjobcontract/js/test/controllers/modal/modal-change-reason.controller.spec.js
  hrjobcontract/js/test/controllers/modal/modal-contract-new.controller.spec.js
  hrjobcontract/js/test/controllers/modal/modal-contract.controller.spec.js
  hrjobcontract/scss/civihr/partials/_forms.scss
  hrjobcontract/templates/CRM/Hrjobcontract/Page/HoursLocation.tpl
  hrjobcontract/templates/CRM/Hrjobcontract/Page/PayScale.tpl
  hrjobcontract/views/modalChangeReason.html
  hrjobcontract/views/modalForm.html
Labels: ready to test

#2625 PCHR-3514: Add New Field on Leave Types Form: "Hide leave type label on public calendar"
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/DAO/AbsenceType.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/DAO/LeaveBalanceChangeExpiryLog.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Form/AbsenceType.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/Upgrader/Step/1029.php
  uk.co.compucorp.civicrm.hrleaveandabsences/sql/auto_install.sql
  uk.co.compucorp.civicrm.hrleaveandabsences/templates/CRM/HRLeaveAndAbsences/Form/AbsenceType.tpl
  uk.co.compucorp.civicrm.hrleaveandabsences/xml/schema/CRM/HRLeaveAndAbsences/AbsenceType.xml
Labels: ready to test

#2627 PCHR-3613: Add upgrader to change site settings
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader.php
  uk.co.compucorp.civicrm.hrcore/CRM/HRCore/Upgrader/Steps/1017.php
Labels: ready to test

#2632 PCHR-3462: Help-text Directive Refactoring
  contactsummary/scss/components/_info-button.scss
  org.civicrm.bootstrapcivihr/css/civihr.css
  org.civicrm.bootstrapcivihr/scss/components/_help-text.scss
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/modules/templates.js
  org.civicrm.reqangular/src/common/templates/help-text.html
  org.civicrm.reqangular/test/directives/help-text.directive.spec.js
Labels: ready to test

#2634 PCHR-3726: Disallow fetching other contact's TOIL requests via API
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/API/Handler/GenericLeaveFieldPermissions.php
  uk.co.compucorp.civicrm.hrleaveandabsences/CRM/HRLeaveAndAbsences/BAO/LeaveRequest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/CRM/HRLeaveAndAbsences/API/Handler/GenericLeaveFieldPermissionsTest.php
  uk.co.compucorp.civicrm.hrleaveandabsences/tests/phpunit/api/v3/LeaveRequestTest.php
Labels: ready to test

#2635 PCHR-3734: Update Task Badge when tasks are completed from SSP
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/components/notification-badge.component.js
  org.civicrm.reqangular/test/components/notification-badge.component.spec.js
Labels: bug, ready to test

#2630 PCHR-3673: Count of Assigned Task and Documents
  org.civicrm.reqangular/dist/reqangular.min.js
  org.civicrm.reqangular/src/common/bundles/components.js
  org.civicrm.reqangular/src/common/components/notification-badge.component.js
  org.civicrm.reqangular/src/common/modules/templates.js
  org.civicrm.reqangular/src/common/templates/components/notification-badge.html
  org.civicrm.reqangular/test/components/notification-badge.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/dist/manager-notification-badge.min.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/manager-notification-badge/app.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/manager-notification-badge/components/manager-notification-badge.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/src/leave-absences/shared/components/leave-notification-badge.component.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/manager-notification-badge/component/manager-notification-badge.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/components/leave-notification-badge.component.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/js/angular/test/shared/controllers/sub-controllers/request-modal-details-toil.controller.spec.js
  uk.co.compucorp.civicrm.hrleaveandabsences/views/manager-notification-badge/components/manager-notification-badge.html
Labels: new feature, ready to test
